.shorizon-scroll {
  background: #faf3e6;
  height: 100vh;
  position: relative;
  // margin-top: -20px;
  padding: 100px 0;
  overflow: hidden;

  .font-2 {
    color: #154726;
  }

  .font-3 {
    height: 70px;
    padding: 0;
  }

  ul {
    padding-top: 70px;
    display: flex;
    gap: 5rem;

    li {
      min-width: 28%;
      padding: 30px;
      background: rgba(21, 71, 38, 0.05);
      border-radius: 20px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: 150px;
        margin: 0 auto;
        display: block;
        max-width: 200px;
        margin: 50px auto;
      }
    }
  }
}
