.sub-last {
  background: #faf3e6;
  padding: 80px 0;
  

  .inbox {
    background: url("../../public/images/last-back.png") no-repeat center / cover;
    padding: 130px 0;
    text-align: center;
    border-radius: 20px;
  }
  h1 {
    color: #154726;
    font-weight: 700;
  }
  p {
    color: #154726;
    padding: 10px 0 28px;
  }

  .btn {
    display: inline-block;
    position: relative;
    background-color: #154726;
    a {
      color: #fff;
    }
  }
}
