@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */


/* 공사중 표시 */
body * {
    outline:1px solid red;
   
}

/* 전체 감싼 박스 */
.full-wrap{
    position: relative;
}


/* 1. 상단영역*/
 #header{
    /* 부모는? .full-wrap */
    /* position:absolute;
    left:0; top:0; */
   
    width: 100%;
    height: 100px;
    background-color:rgba(0,0,0,0.5);
    
   
  }

  
/* 공통클래스 중앙속박스 */
.inbox{
  max-width: 1400px;
  margin: 0 auto;
  outline: 1px solid red;
  height: 100%;
}


  /* header 내부박스 */
  #header .inbox{
    max-width: 100%;
    position: relative;
  }


.header_wrap{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

  /* 로고 */
  h1.logo a{
     /* 부모는 #header .inbox*/
     position: absolute;
     left:80px;
     top:50%;
     transform: translate(0,-50%);
     z-index:99;
    display: inline-block;
    /* 배경이미지 삽입 */
    background: url(../images/logo_wh.svg) no-repeat;
    width:58px;
    height:58px;
    
  }


  /* 메뉴 */


  #nav {
    /* position: relative; */
    
    height: 100px;
    /* overflow: hidden; */
    z-index: 2;
    text-align: center;
    
  }

  
  /* #header:hover #nav{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    transition: 0.4s;
    background: #fff;
} */





  /* 상단에 줄 */
  /* #nav::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #e1e1e1;
  } */

  .gnb {
    width: 650px;
    margin: 0 auto;
    height:100%;
    display: flex;
    justify-content: center;
    /* 메뉴폰트 */
font-family: "Jua", sans-serif;
font-size: 18px;

  }

  /* 1단메뉴 */
  .gnb-depth1::before{
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: red;
    transition: height .4s;
  }
  .header_wrap.on .gnb-depth1::before{
    height: 300px;
  }


  .gnb-depth1>a{
     display: block;
     line-height: 100px;
     padding:0 20px;
     

   
  }

  /* 2단메뉴 */
  .gnb-depth2{
    /* 부모는.gnb-depth1 */
    position: absolute;
    /* width: 100%; */
    text-align: left;
    z-index:2;
    font-size:16px;
    font-weight: normal;
    overflow: hidden;
    height: 0;
    transition: height .4s;

  }
  .header_wrap.on .gnb-depth2{
    height: 300px;
  }

  .gnb-depth2>ul>li{
    margin-bottom: 30px;
  }
 

  .m_btn{
    display: block;
    text-indent: -99999px;
    width: 100px;
    height: 100px;
    border:1px solid red;
    position: absolute;
    left:50%; top:50%;
    transform: translate(-50%,-50%);
  }
  
     .m_btn span{
       display: block;
       width: 100px;
       height: 20px;
       background: #000;
       position: absolute;
       left:0; top:50%;
       transform: translate(0,-50%);
       transition: all 0.5s ease;
     }
  
       .m_btn span::before{
       content:'';
       width: 100%;
       height: 20px;
       background: #000;
     position: absolute;
    left:0; top:-40px;
    transition: all 0.5s ease;
     }
  
  
     .m_btn span::after{
         content:'';
       width: 100%;
       height: 20px;
       background: #000;
     position: absolute;
    left:0; top:40px;
    transition: all 0.5s ease;
  
     }
  
    /* 햄버거 버튼을 클릭했을 때 X버튼으로 변화*/
  
    .m_btn.on span{
      background: rgba(0,0,0,0);
      transition: all 0.5s ease;
  
  
  
    }
  
    .m_btn.on span::before{
      transform: rotate(45deg);
      top:0;
      transition: all 0.5s ease;
    }
  
    .m_btn.on span::after{
      transform: rotate(-45deg);
      top:0;
      transition: all 0.5s ease;
    }
  
  
 

/* 2. 배너영역 */

#ban-area{
    height: 100vh;
    background-color: green;
}

#ban-area .inbox{
  max-width:100%;
}

/* 배너 슬라이더 */

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


/* 배너 슬라이더 내부 글자 */
.slide-txt {
 /* 부모는 swiper-slide */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}


.slide-txt .txt{
  font-size: 5rem;
  line-height: 100px;
  text-align: center;
  color:#fff;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.8);
}





















/* 3. 사업소개 */
#about-area{
    height: 2069px;
    background-color: #fff;
}


/* 4. 글로벌오뚜기 */
#global-area{
    height: 1240px;
    background-color:#FFFDEB;
}

 /* 5. ESG경영 */

 #esg-area{
    height: 954px;
    background-color:#fff;

 }

 /* 6. 브랜드스토리 */
#story-area{
    height: 954px;
    background-color:#ccc;
}


 /* 7. 제품소개 */
 #product-area{
    height: 865px;
    background-color: #FFED00;


 }


 /* 8. 오뚜기 소식 */

#news-area{
    height: 732px;
    background-color: #F8F8F8;
}


/* 9. 하단영역  */
#footer-area{
    height: 430px;
    background-color: #fff;
}