@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);


/* 공사중 표시 */
body * {
    outline:1px dashed #ccc;
   
}

.wrap{
    position: relative;
}

/* 1. 상단영역 */
 #top-area{
    /* 부모는? .wrap */
    /* position:absolute;
    left:0; top:0; */
    width: 100%;
    height: 100px;
    background-color:rgba(0,0,0,0.5);
   
  }

  #top-area .inbox{
    position: relative;
    max-width: 1502px;
}

  
  #top-area .top-area{
    height: 100px;
  }


  .header{
    position: relative;
    left:0; top:0;
    width:100%;
    height:100%;
    background:#fff;
  }
  
  /* 로고 */
  
  h1.logo{
    /* 부모는 #top-area .inbox */
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(0,-50%);
    width:58px;
    height:58px;
    background: red;
    
    
  
  
  }
  h1.logo a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/logo_wh.svg) no-repeat;
    text-indent: -999px;
  }


  /* 메뉴 */
  .gnb {
    display: flex;
    justify-content: center;
   
  }

  .gnb{
/* 메뉴폰트 */
font-family: "Jua", sans-serif;
  }

  .gnb>li>a{
     display: block;
     line-height: 100px;
     padding:0 20px;
     font-size:20px;
     color:#fff;
     text-align: left;
   
    

  }

  .gnb .sub_menu>li>a{
    display: block;
    line-height: 25px;
    font-size:14px;
    color: #666;
  }


 


 

/* 2. 배너영역 */

#ban-area{
    height: 100vh;
    background-color: green;
}



/* 3. 사업소개 */
#about-area{
    height: 2069px;
    background-color: #fff;
}


/* 4. 글로벌오뚜기 */
#global-area{
    height: 1240px;
    background-color:#FFFDEB;
}

 /* 5. ESG경영 */

 #esg-area{
    height: 954px;
    background-color:#fff;

 }

 /* 6. 브랜드스토리 */
#story-area{
    height: 954px;
    background-color:#ccc;
}


 /* 7. 제품소개 */
 #product-area{
    height: 865px;
    background-color: #FFED00;


 }


 /* 8. 오뚜기 소식 */

#news-area{
    height: 732px;
    background-color: #F8F8F8;
}


/* 9. 하단영역  */
#footer-area{
    height: 430px;
    background-color: #fff;
}