@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 공사중 표시 */
body * {
  /* outline:1px solid red; */
}

/* 전체 감싼 박스 */
.wrap {
  position: relative;
}

/* 공통클래스 중앙속박스 */
.inbox {
  max-width: 1400px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  height: 100%;
}

/************************** 1. 상단영역*********************************/

#top-area {
  /* 폰트 */
  font-family: "Jua", sans-serif;
  position: relative;
}

/* 상단 내부박스 */
#top-area .inbox {
  max-width: 100%;
  /* 부모는 #top-area */
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 999;
}

/* 1-1.로고 */
h1.logo a {
  /* 부모는 .top-area .inbox*/
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  display: inline-block;
  /* 로고 이미지 삽입 */
  background: url(../images/logo_wh.svg) no-repeat;
  width: 58px;
  height: 58px;
  z-index: 999;
}

/* 1-2.메뉴 */

.gnb {
  /* 플렉스로 가로정렬 */
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.top-area:hover .gnb-depth1 > a {
  color: #000;
}

/* 1단메뉴 */
.gnb-depth1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
}

/* 마우스 오버시 2단메뉴 배경 내려오기 */
.nav-wrap:hover .gnb-depth1::before {
  height: 350px;
}

.gnb > li {
  width: calc(70% / 7);
}

.gnb > li > a {
  display: block;
  line-height: 100px;
  color: #fff;
  /* padding:0 3.5rem; */
}

/* 마우스오버시 글자 색상 레드 */
.gnb > li:hover .red {
  color: red;
}

/* 2단메뉴 */
.gnb-depth2 {
  /* 부모는 .gnb-depth1 */
  position: absolute;
  z-index: 5;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  /* padding: 0 3.5rem; */
  /* 2단메뉴 숨기기 */
  overflow: hidden;
  height: 0;
}

/* 메뉴 마우스 오버시 숨어있던 2단메뉴 등장 */
.nav-wrap:hover .gnb-depth2 {
  overflow: visible;
  height: 100%;
}

.gnb-depth2 > li > a {
  display: block;
  margin-bottom: 20px;
  font-weight: 100;
  color: #666;
  line-height: 20px;
  word-break: break-word;
  white-space: nowrap;
  font-weight: normal;
}

.gnb-depth2 > li > a:hover {
  color: #000;
  text-decoration: underline;
}

.gnb-depth2 > li > a:hover .red {
  color: red;
}

.sitemap {
  /* background: red; */
  position: relative;
  width: 10px;
  height: 100px;
}

/* 사이트맵 */
.hambtn {
  position: relative;
  /* 부모자격: span */
  /* outline: 5px dotted lightpink; */
  cursor: pointer;
}

.top-area:hover .hambtn span {
  background-color: #333;
}
/* 햄버거 바 공통 */
.hambtn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 25px;
}
/* 1번 바 */
.hambtn span:nth-child(1) {
  top: 0;
}
/* 2번 바 */
.hambtn span:nth-child(2) {
  top: 50%;
  left: 0;
  /* left초기값 있어야
      애니메이션 됨(기본값 auto) */
  /* 트랜지션 : 0.3초후 0.1초애니 */
}
/* 3번 바 */
.hambtn span:nth-child(3) {
  top: 100%;
}

/* 상위 메뉴에 클래스 on 줄경우 닫기버튼으로 변경 */
/* 1번 바 */
.hambtn.on span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
  /* 트랜지션 개별설정 */
}
/* 2번 바 */
.hambtn.on span:nth-child(2) {
  top: 100px;
  width: 0%;
  left: 50%;
  /* 트랜지션 : 0.3초후 0.1초애니 */
}
/* 3번 바 */
.hambtn.on span:nth-child(3) {
  top: 7px;
  transform: rotate(-45deg);
  /* 트랜지션 개별설정 */
}

/* 두번째 카피 햄버거 버튼 크기/위치이동 */
.hambtn2 {
  width: 28px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* 1-3.기타 */

.nav-wrap .etc-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  /* background-color: gray; */
  width: 20%;
  height: 100%;
  padding: 0 20px;
}

/* 다국어*/
.etc-box .lang {
  position: relative;
  text-align: center;
  width: 80px;
}

.btn-lang::after {
  content: "▼";
  font-size: 9px;
  margin-left: 8px;
  vertical-align: middle;
}

.lang > a {
  font-size: 2rem;
  color: #fff;
}

.nav-wrap:hover .lang > a {
  color: #000;
}
.lang-menu {
  text-align: center;
  background: #f8f8f8;
  margin-top: 11px;
  border-radius: 5px;
  padding: 12px 0;
  position: absolute;
  width: 80px;
  display: none;
}

.lang-menu.on {
  display: block;
}

.lang-menu a {
  font-size: 1.7rem;
  line-height: 29px;
  display: inline;
  color: #000;
}

.lang-menu a:hover {
  text-decoration: underline;
}
.etc-box {
  display: flex;
  align-items: center;
}

/* 검색버튼*/
.search {
  background: url(../images/gnb_search.svg) no-repeat center/cover;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.search-btn {
  display: block;
  width: 100%;
  height: 100%;
}

/* 챗봇 */
.chat {
  background: url(../images/gnb_chatbot.svg) no-repeat center/cover;
  width: 30px;
  height: 25px;
  margin-right: 10px;
}

/* 오뚜기 바로가기 */
.ottugi-go {
  width: 107px;
  height: 24px;
  background-color: #fffc29;
  border-radius: 5px;
  position: relative;
  padding-right: 10px;
}

.ottugi-go::after {
  content: "";
  background: url("../images/ico_arrow.svg") no-repeat center/cover;
  width: 16px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 50%;
  animation: arrow-ani 1s ease-in-out infinite;
}

@keyframes arrow-ani {
  0% {
    margin-top: -8px;
    right: 5px;
  }
  50% {
    margin-top: -10px;
    right: 2px;
  }
  100% {
    margin-top: -8px;
    right: 5px;
  }
}

.go-btn {
  display: block;
  margin: 0 auto;
  line-height: 24px;
  width: 100%;
  height: 100%;
  background: url(../images/gnb_mall.svg) no-repeat center/70px 14px;
}

/*********************** 2. 배너영역 ***********************/

#ban-area {
  height: 100vh;
  background-color: green;
}

#ban-area .inbox {
  max-width: 100%;
}

/* 배너 슬라이더 */

#ban-area .swiper {
  width: 100%;
  height: 100%;
}

#ban-area .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ban-area .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ban-area .swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 배너 슬라이더 내부 글자 */
#ban-area .slide-txt {
  /* 부모는 swiper-slide */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#ban-area .slide-txt .txt {
  font-size: 8rem;
  line-height: 100px;
  text-align: center;
  color: #fff;
  line-height: 100px;
  letter-spacing: 0;
  text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.8);
}

/* 배너 슬라이드 버튼 전체 감싸는 박스 */
#ban-area .ban-area .controls {
  position: absolute;
  z-index: 10;
  width: 363px;
  height: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 70px;
  /* 폰트 */
  font-family: "Jua", sans-serif;
}

/* 배너 슬라이드 시간 바 */
#ban-area .autoplay-progress {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* 배너 슬라이드 시간 바 */
#ban-area .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
  color: #fff;
  font-size: 14px;
}

#ban-area .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  stroke: #fff;
  transform: rotate(-90deg);
}

/* 슬라이드 페이지 숫자 */
#ban-area .swiper-pagination-fraction {
  bottom: 50%;
  left: 39px;
  line-height: 50px;
  width: 100px;
  bottom: 0;
  font-size: 16px;
  color: #fff;
}

/* 기존 슬라이드 버튼 스타일 제거 */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

/* 이전/다음 버튼 디자인 커스튬 */
#ban-area .swiper-button-next,
#ban-area .swiper-button-prev {
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  border: none;
  flex: none;
  display: block;
  left: auto;
  right: 60px;
  top: 50%;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
}

#ban-area .swiper-button-prev {
  background: url(../images/btn_prev_main.svg) no-repeat;
}
#ban-area .swiper-button-next {
  background: url(../images/common/btn_next_main.svg) no-repeat;
  right: 0;
}

/* 슬라이더 정지/재생 버튼 */
#ban-area .swiper-button-pause,
#ban-area .swiper-button-play {
  position: absolute;
  /* right:120px; */
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
}
#ban-area .swiper-button-play {
  background: url(../images/common/btn_play_main.svg) no-repeat;
  right: 180px;
}

#ban-area .swiper-button-pause {
  background: url(../images/common/btn_pause_main.svg) no-repeat;
  right: 120px;
}

#ban-area .inbox {
  position: relative;
}

/* 

#ban-area{
  overflow: hidden;
}


#ban-area .bg_con {
  display: block;
  position: absolute;
  top:50%;
  left: 50%;
  z-index:2;
  width: 42.875%;
  height: 189.91%;
  background: url(../images/prd_bg.png) no-repeat 50% / 100%;
  transform: translate(-50%,-50%);
  animation:  bag-ani 2s ease-in-out 3s infinite;

}

#ban-area .bg_con.on {
  width: 500%;
  height: 500%;
}

@keyframes bag-ani {
  from{
    width: 100px;
    height: 100px;
  }
  to{
    width: 500%;
  height: 500%;
  }
} */

/* 3. 사업소개 */
#about-area {
  height: auto;
  background-color: #fff;
}

#about-area .inbox {
  max-width: 1400px;
  width: 90%;
  height: 100%;
  outline: 1px solid red;
}

/* 스크롤 */
.scroll-btn {
  background: url(../images/ico_scroll.svg) no-repeat center/cover;
  width: 93px;
  height: 90px;
  display: block;
  margin: 60px auto 0;
  position: relative;
}

.scroll-btn::after {
  content: "";
  background: url(../images/ico_scroll_arw.svg) no-repeat center/cover;
  width: 16px;
  height: 18px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  animation: arrow-ani2 1s ease-in infinite;
}

@keyframes arrow-ani2 {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 20px;
  }
}

.about-box {
  margin: 0 auto;
  padding-bottom: 200px;
}

.about-area h2 {
  font-size: 46px;
  line-height: 63px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.about-area .con {
  outline: 1px solid red;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .about-area .con .img-fade{
  position: relative;
}

.about-area .con .img-fade img {
  position: absolute;
  left:0; top:0;
} */

/* 이미지 두개가 번갈아가며 서서히 나타나는 효과 */
.about-area .con .img-fade1 {
  position: relative;
  width: 375px;
  height: 417px;
  border-radius: 200px;
  outline: 1px solid red;
  margin-right: 40px;
  overflow: hidden;
}

.about-area .con .img-fade1 img {
  width: 100%;
  height: 100%;
}

.about-area .con .fade1 {
  /* 부모는 .img-fade */
  position: absolute;
  left: 0;
  top: 0;
  animation: fade-ani 3.5s 1.5s ease-in-out infinite alternate;
}
.about-area .con .fade2 {
  /* 부모는 .img-fade */
  position: absolute;
  left: 0;
  top: 0;
  animation: fade-ani2 3.5s 1.5s ease-in-out infinite alternate;
}

/* 클리핑 마스크로 두번째 영역 사진 넣기 */
.about-area .con .img-fade2 {
  position: relative;
  width: 449px;
  height: 431px;
  clip-path: url(#my-clip-path);
}
.about-area .con .img-fade2 img {
  width: 100%;
  height: 100%;
}

/* 클리핑 마스크로 세번째 영역 사진 넣기 */
.about-area .con .img-fade3 {
  position: relative;
  width: 389px;
  height: 404px;
  clip-path: url(#my-clip-path2);
}
.about-area .con .img-fade3 img {
  width: 100%;
  height: 100%;
}

@keyframes fade-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-ani2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 글자영역 */
.about-area .con .text h3 {
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 30px;
}

.about-area .con .text h3 span {
  color: #ffed00;
  -webkit-text-stroke: 1px #000;
}

.about-area .con .text p {
  font-size: 18px;
}

.more{
  display: block;
  background: url(../images/btn_more_pc.svg) no-repeat center/cover;
  width: 100px;
  height: 30px;
  margin-top: 30px;
}



/* 마우스 오버시 더보기 버튼 움직이는 효과 */
.more:hover{
  animation: more-ani 1s ease-in-out infinite;
}

@keyframes more-ani {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0;
  }
}

/************************** 4. 글로벌오뚜기 ***********************/
#global-area {
  height: auto;
  background-color: #fffdeb;
  padding: 230px 0;
  position: relative;
  overflow: hidden;
}
#global-area .inbox {
  max-width: 1400px;
  width: 90%;
  outline: 1px solid red;
}

/* 지구 배경 */
/* #global-area::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 900px;
  background: url(../images/global_bg.svg) no-repeat center/cover;
  bottom: -170px;
  right: -70px;
} */

.global-area h3 {
  font-size: 80px;
  color: #dc2f34;
  line-height: 87px;
}

.global-area h3 span {
  font-size: 50px;
  color: #000;
}

.global-area p {
  font-size: 25px;
  margin: 30px 0;
}

/* 원 이미지 영역 */
.global-area .img-fade {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
  gap: 50px;
  padding: 0 50px;
}

.global-area .img-fade li {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  /* background-color: grey; */
}

.global-area .img-fade li {
  position: relative;
  overflow: hidden;
}

/* 공통 이미지 위치와 크기 */
.global-area .img-fade img {
  /* 부모는 .img-fade li */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* 공통 이미지 애니메이션-이미지 왔다갔다*/
.global-area .img-fade .fade1 {
  animation: fade-ani1 3.5s ease-in-out infinite alternate;
}
.global-area .img-fade .fade2 {
  animation: fade-ani2 3.5s 3s ease-in-out infinite alternate;
}
.global-area .img-fade .fade3 {
  animation: fade-ani2 3.5s 6s ease-in-out infinite alternate;
}
/* 공통 이미지 애니메이션-이미지 뿅뿅*/
.global-area .img-fade .g1 {
  animation: show-ani 0.2s ease-in-out forwards;
}
.global-area .img-fade .g2 {
  animation: show-ani 0.2s ease-in-out 2s forwards;
}
.global-area .img-fade .g3 {
  animation: show-ani 0.2s ease-in-out 3s forwards;
}

@keyframes show-ani {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* 5. ESG경영 */

/* #esg-area {
  height: 954px;
  background-color: #fff;
} */

/********************6. 브랜드스토리 *************/
#story-area {
  height: auto;
  background-color: #fff;
}

#story-area .inbox {
  max-width: 100%;
  outline: 1px solid red;
}

/* 뒤 배경 이미지 */
.story-area .visual {
  background: url("../images/main_brand_mo.jpg") no-repeat 50%/cover; 
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 890px;
}

/* .story-area .visual img{
  object-fit:cover;
  width: 100%;
  height: 890px;
} */


/* 글자 */
.story-area .visual .text {
  width: 80%;
  height: auto;
  /* outline: 1px solid red; */
  margin: 0 auto;
  /* 부모는.story-area .visual */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
 
}

.story-area h3 {
  font-size: 4.8rem;
  line-height: 67px;
  text-align: center;
  padding: 220px 0 80px;
}

/* ottugi글자 */
.visual h4 {
  font-size: 19.1rem;
  line-height: 67px;
  color: #fff;
  letter-spacing: 30px;
  
}

/* brand글자 */
.visual h5 {
  font-size: 14rem;
  line-height: 67px;
  margin-top: 100px;
  color: #ffed00;
  letter-spacing: 17px;
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: flex-end;
  padding-left: 236px;
  
}
/* story글자*/
.visual span {
  padding-left: 180px;
  font-size: 5rem;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0;
}

/* 글자에 노란 밑줄 */
.visual h5::after {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 11px;
  width: 432px;
  height: 2px;
  background: #ffed00;
}

.visual h6{
  margin-top: 36px;
  font-size:20px;
  color:#fff;
  text-align: right;
}

/* 더보기 버튼 */
.more2{
  background: url(../images/btn_more_wh_pc.svg) no-repeat center/cover;
  width: 100px;
  height: 30px;
  float:right;
  margin-top: 100px;
  
}
.more2:hover {
  animation: more-ani2 1s ease-in-out infinite;
}


@keyframes more-ani2 {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 20px;
  }
  100% {
    margin-right: 0;
  }
}


/* 7. 제품소개 */
#product-area {
  height: 865px;
  background-color: #ffed00;
}

#product-area .inbox{
  max-width: 1600px;
  outline:1px solid red;
  position: relative;
}


/* 제품소개 슬라이더 */

/* 배너 슬라이더 */

#product-area .swiper {
  width:1103px;
  height: 620px;
  /* 부모는 #product-area .inbox */
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  outline: 1px solid red;
}

#product-area .swiper-slide{
  display: flex;
}

#product-area .slide-img {
  display: flex;
    align-items: center;
    justify-content: center;
  width:50%;
  height:100%;
  outline:1px solid red;
  background-color: rgba(0,0,0,0.5);
}

#product-area .swiper-slide img {
  
}


/* 배너 슬라이더 내부 글자 */
#product-area .slide-txt {
 width:50%;
 text-align: right;
 color: #000;

}

#product-area .slide-txt .txt {
  font-size: 6rem;
  line-height: 100px;
  line-height: 76px;
  
}

#product-area .slide-txt h3{
  display: inline;
  font-size:2.5rem;
  padding: 5px 30px;
  line-height: 38px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
#product-area .slide-txt h4{
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 57px;

}

/* 더보기 */
#product-area .slide-txt .more3{
  font-size: 2rem;
  font-weight: normal;
  line-height: 57px;
  position: relative;
  padding-right: 20px;
  
}

/* 더보기 버튼 화살표 */
#product-area .slide-txt .more3::after{
  content: '';
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0,-50%);
  background: url("../images/ico_arrow.svg");
  width: 16px; height: 16px;
}

#product-area .slide-txt .more3:hover{
  text-decoration: underline;
}

/* 배너 슬라이드 버튼 전체 감싸는 박스 */
#product-area .ban-area .controls {
  position: absolute;
  z-index: 10;
  width: 363px;
  height: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 70px;
  /* 폰트 */
  font-family: "Jua", sans-serif;
}

/* 배너 슬라이드 시간 바 */
#product-area .autoplay-progress {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* 배너 슬라이드 시간 바 */
#product-area .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
  color: #fff;
  font-size: 14px;
}

#product-area .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  stroke: #fff;
  transform: rotate(-90deg);
}

/* 슬라이드 페이지 숫자 */
#product-area .swiper-pagination-fraction {
  bottom: 50%;
  left: 39px;
  line-height: 50px;
  width: 100px;
  bottom: 0;
  font-size: 16px;
  color: #fff;
}

/* 기존 슬라이드 버튼 스타일 제거 */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

/* 이전/다음 버튼 디자인 커스튬 */
#product-area .swiper-button-next,
#product-area .swiper-button-prev {
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  border: none;
  flex: none;
  display: block;
  left: auto;
  right: 60px;
  top: 50%;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
}

#product-area .swiper-button-prev {
  background: url(../images/btn_prev_main.svg) no-repeat;
}
#product-area .swiper-button-next {
  background: url(../images/common/btn_next_main.svg) no-repeat;
  right: 0;
}

/* 슬라이더 정지/재생 버튼 */
#product-area .swiper-button-pause,
#product-area .swiper-button-play {
  position: absolute;
  /* right:120px; */
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
}
#product-area .swiper-button-play {
  background: url(../images/common/btn_play_main.svg) no-repeat;
  right: 180px;
}

#product-area .swiper-button-pause {
  background: url(../images/common/btn_pause_main.svg) no-repeat;
  right: 120px;
}

#product-area .inbox {
  position: relative;
}




/* 8. 오뚜기 소식 */

#news-area {
  height: 732px;
  background-color: #f8f8f8;
}

/* 9. 하단영역  */
#footer-area {
  height: 430px;
  background-color: #fff;
}
