// 전체 공통 CSS 불러오기

@import "../css/common/core";
@import "../css/common/reset";
@import "../css/width_chg.scss";

#main-area {
  position: relative;

  // 메인 배너 이미지
  .main-visual {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("../../public/images/main/visual_img.jpg") no-repeat
      center/cover;
    z-index: -1;
  }
  .main-area {
    position: relative;

    // 메인1
    .txt-wrap {
      padding: 50rem 0 4rem;
      max-width: 1500px;
      color: #fff;

      .font-2 {
        padding: 15px 0 30px;
      }

      .btn a {
        font-weight: 600;
      }

      .desc {
        margin-top: 0;
      }
    }

    // main2영역- 스크롤되면 가로 크기가 달라짐

    .main2 {
      background: #faf3e6;
      position: relative;
      top: 100px;
      padding: 15rem 0;
      width: 80%;
      border-radius: 20px;
      margin: 0 auto;
      height: 60rem;

      // 전체감싸는 박스
      .wrap {
        justify-content: space-between;
        height: 60rem;
      }
      // 왼쪽영역
      .left {
        width: 50%;
        height: 100%;

        h1 {
          color: #149473;
        }
        p {
          color: #154726;
        }
        .btn {
          background-color: #154726;

          & > a {
            color: #fff;
          }
        }
      }

      // 오른쪽영역
      .right {
        width: 50%;
        justify-content: center;
        // 썸네일 이미지
        background: url("../../public/images/main/video_thumb.png") no-repeat
          center / cover;
        border-radius: 20px;
        height: 100%;

        .btn {
          background-color: #ffd550;
        }
      }
    }

    // 비디오 팝업
    .vid-popup {
      position: fixed;
      bottom: 0;
      left: 0;
      justify-content: center;
      width: 100%;
      // 높이0으로 해서 안보이게
      height: 0;
      background: #d8e0a5;
      z-index: 100;
      flex-direction: column;
      // 비디오 열고 닫을때 효과
      transition: height 0.5s ease-in-out;

      // 비디오 열었을 때: 높이 100vh로 해서 꽉 채우게
      &.on {
        height: 100vh;
      }

      .video-bg {
        height: 80%;
      }

      video {
        width: 100%;
        max-width: 1500px;
        height: 100%;
        border-radius: 20px;
      }

      // 비디오 닫기 버튼
      .close-btn {
        font-size: 45px;
        justify-content: center;
        color: #154726;
        margin-top: 35px;
      }
    } //////////////////main2 끝/////////////////

    //main3
    .main3 {
      width: 100%;
      position: relative;
      padding: 150px 0;
      background: url("../../public/images/back_move/main2_bak.jpg") no-repeat
        50% 30% / cover;

      ul {
        justify-content: center;
        padding-bottom: 30px;
        gap: 30px;

        li img {
          width: 100%;
          max-width: 150px;
          height: auto;
        }
      }
    } ////////////////////////main3 끝////////////////////

    //main4
    .main4 {
      background: #d8e0a5;
      overflow: hidden;
      position: relative;

      .font-5 {
        color: #149473;
      }
      .font-2 {
        color: #154726;
      }

      ul {
        width: 100vw;
        height: 100vh;
      }
      li:first-child {
        margin-right: 10%;
        min-width: 600px;
      }

      // 첫번째 li제외한 li
      li:not(:first-child) {
        flex-direction: column;
        margin-right: 10%;
        min-width: 20%;
        justify-content: space-between;
        .img_box {
          border-radius: 50px;
          overflow: hidden;

          // 마우스오버시 이미지 확대
          &:hover img {
            transform: scale(1.1);
            transition: all 0.5s;
          }

          img {
            transition: all 0.5s;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    } /////////////////////main4끝////////////////////

    //main5

    // 메인 스토어리스트 배경색만 다르게하기
    .store-list .right {
      background-color: #fff;
    }
  }
}

/********************************************** 미디어쿼리 CSS **********************************************/

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
  #main-area .main-area .main4 li:first-child {
    min-width: 100%;
  }
  #main-area .main-area .main4 .slidePg > .flex {
    display: block;
  }

  #main-area .main-area .main4 ul {
    height: auto;
  }

  #main-area .main-area .main4 li > .flex {
    display: block;
  }
  #main-area .main-area .main4 li {
    margin-right: 0;
  }
  #main-area .main-area .main4 li:not(:first-child) {
    margin-right: 0;
  }

  .slidePg {
    text-align: center;
  }

  .main4 {
    padding: 15rem 0;

    .btn {
      margin: 0 auto;
    }

    .desc {
      margin: 30px 0 100px 0;
    }
  }

  #main-area .main-area .main4 ul{width:100%;}
  #main-area .main-area .main4 li:not(:first-child){margin-top: 100px;}
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {
  #main-area .main-area .txt-wrap {
    text-align: center;
    padding:30rem 0 4rem;
    
    .btn {
      margin: 0 auto;
    }
  }
  #main-area .main-area .main2 {
    height: auto;

    .wrap {
      height: auto;
    }

    .flex {
      flex-direction: column;
    }

    .left {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;

      .btn {
        margin: 0 auto;
      }

      .desc {
        margin-top: 30px;
      }
    }

    .right {
      width: 100%;
      height: 50rem;
    }
  }

  #main-area .main-area .main3 ul {
    gap: 10px;
  }

  /* 480이하 */
  @media screen and (max-width: 480px) {
    #main-area .main-area .main2 .right {
      height: 30rem;
    }
  }
  // 작은 디바이스
  /* 360이하 */
  @media screen and (max-width: 360px) {
  }
  /* 280이하 */
  @media screen and (max-width: 280px) {
  }
}
