.sub-visual {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.txt {
  text-align: center;
  p {
    color: #149473;
    padding: 150px 0 20px;
  }
  // 폰트어썸
  .fa-angles-down {
    padding-left: 10px;
  }
}
