.ecomeal-wrap {
  .sec3 {
    
    background: url("../../public/images/ecomeal/bak.jpg") no-repeat 50% 30% / 200%;
    height: 100vh;
    position: relative;

   
    .txt-box {
      width: 50%;
      position: absolute;
      right:0;
      bottom:100px;

      .font-2 {
        color: #fff;
        margin-bottom: 20px;
      }
      .font-6 {
        color: #fff;
      }
  
  
    }
  }
}
