.ecomeal-wrap {
  .sec3 {
    background: url("../../public/images/ecomeal/bak.jpg") no-repeat 50% 30% /
      200%;
    height: 100vh;
    position: relative;

    .txt-box {
      width: 50%;
      position: absolute;
      right: 0;
      bottom: 100px;

      .font-2 {
        color: #fff;
        margin-bottom: 20px;
      }
      .font-6 {
        color: #fff;
      }
    }
  }
}

/********************************************** 미디어쿼리 CSS **********************************************/

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
  .ecomeal-wrap .sec3 {
    background: url("../../public/images/ecomeal/bak.jpg") no-repeat 50% 30% /
      cover;
  }
  .ecomeal-wrap .sec3 .txt-box {
    width: 100%;
  }
  .ecomeal-wrap .sec3 .txt-box {
    width: 80%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {
}
/* 480이하 */
@media screen and (max-width: 480px) {
}

// 작은 디바이스
/* 360이하 */
@media screen and (max-width: 360px) {
}
/* 280이하 */
@media screen and (max-width: 280px) {
}
