/****************** 3.하단영역 ******************/


#footer-area{
  background: #2F4E37;
  color: #FEFCF7;
  height: 300px;
  .footer-area{
    display: flex;
    justify-content: space-between;

    // 하단로고
    h2.logo {
      background-color: red;
      width: 30%;
  
      a {
        display: inline-block;
        /* 로고 이미지 삽입 */
        background: url(../../public/images/footer_logo.svg) no-repeat;
        width: 128px;
        height: 131px;
   
      }
    }
    
// 주소
    address{
      font-style: normal;
      color: rgba(254, 252, 247, 0.6);
      p{
        line-height: 20px;
      }

      p:first-child{
        margin-bottom: 10px;
      }
      span{
        color:#fff;
      }

    }
   
  }
}