.nenia-wrap {
  

  // 섹션2
  .sec2 {
    background: #fff;
    height: 100vh;
    overflow: hidden;

    .wrap {
      display: flex;
      margin-top: 100px;

      // 왼쪽 텍스트 영역
      .left {
        width: 50%;
        height: 100%;
        overflow: hidden;
        transform: translate(0px, 0px);

        li:first-child {
          padding-top: 100px;
          height: 700px;
        }
      }

      // 오른쪽 이미지 영역
      .right {
        width: 50%;
        height: 700px;
        background: url("../../public/images/nenia/bak.jpg") no-repeat center / cover;
        background-position: 50% 0%;
      }

      .only-m{
        display: none;
      }
    }
  }
}
/********************************************** 미디어쿼리 CSS **********************************************/ 

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
  .nenia-wrap .sec2{height: auto;}
  .nenia-wrap .sec2 .wrap{flex-direction: column;}
  .nenia-wrap .sec2 .wrap .left li:first-child{height:auto; margin-bottom: 50px; padding-top: 0;}
  .nenia-wrap .sec2 .wrap .left{width: 100%; text-align: center;}
  .nenia-wrap .sec2 .wrap .right{width:100%;display: none;}
  .nenia-wrap .sec2 .wrap .left li{margin-bottom: 50px;}
  .nenia-wrap .sec2 .wrap .only-m{
    display: block; height: 300px;
  }
  .nenia-wrap .sec2 .wrap .only-m img{max-width:500px;}
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {
  .nenia-wrap .sec2 .wrap .only-m img{width:100%; height:auto;}
}
/* 480이하 */
@media screen and (max-width: 480px) {
 

}

// 작은 디바이스
/* 360이하 */
@media screen and (max-width: 360px) {
  
}
/* 280이하 */
@media screen and (max-width: 280px) {
}
