.square-info {
  height: 100%;
  display: flex;
  flex-direction: column;

  .box {
    display: flex;
    height: 880px;
    .left {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .right {
      width: 50%;
      box-sizing: border-box;
      padding: 100px 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: #154726;
    }
  }
}

.s1 {
  background: #f4e5be;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}
.s2 {
  background: #d8e0a5;
}
.s3 {
  background: #faf3e6;
}


/********************************************** 미디어쿼리 CSS **********************************************/ 

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
  .square-info .box{height:auto;}
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {
  .square-info .box{flex-direction: column;}
  .square-info .box .left{width: 100%;}
  .square-info .box .right{width: 100%; order: 2;}


}
/* 480이하 */
@media screen and (max-width: 480px) {

}

// 작은 디바이스
/* 360이하 */
@media screen and (max-width: 360px) {
  .square-info .box .right{padding:50px 30px;}
  .font-2{text-align: center;}
}
/* 280이하 */
@media screen and (max-width: 280px) {
}
