.green {
  background-color: green;
}
.selected {
  color: green;
  font-weight: bold;
}

#bo_cate h2 {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
#bo_cate ul {
  margin-bottom: 30px;
  padding-left: 1px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#bo_cate li {
  padding-bottom: 10px;
}
/*#bo_cate li:first-child	{display:none;}*/
#bo_cate a {
  cursor: pointer;
  color: #154726;
  display: block;
  padding: 4px 0;
  margin: 0 17.5px;
  font-size: 16px;
}
#bo_cate a:focus,
#bo_cate a:hover,
#bo_cate a:active {
  text-decoration: none;
}
#bo_cate #bo_cate_on {
  z-index: 2;
  padding: 7px 15px;
  background: #154726;
  border-radius: 50px;
  color: #fff;
}

.total_board_list_wrap,
.total_board_view_wrap {
  background: #faf3e6;
  width: 100%;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  padding: 100px 0 0;
  min-height: 800px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.total_board_list_wrap > h1 {
  color: #154726;
  font-weight: 700;
  text-align: center;
}
.total_board_view_wrap {
  border-radius: 20px;
}

.view_visual {
  width: 100%;
  height: 100vh;
  display: block;
  background: #ffdd70;
  position: fixed;
  top: 0;
  z-index: -2;
}
.view_txt {
  text-align: center;
  padding: 210px 0 140px;
  color: #154726;
}
.view_txt h1 {
  font-weight: 700;
}
.view_txt h2 {
  padding: 10px 0;
  font-weight: 700;
}

.board_newgallery * {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.board_newgallery {
  display: flex;
  flex-wrap: wrap;
}
.board_newgallery:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}
.board_newgallery li {
  width: 23.3%;
  margin: 0 2.2% 2.2% 0%;
  list-style: none;
  position: relative;
}
.board_newgallery li:nth-child(4n) {
  margin: 0 0 2.2% 0;
}

.board_newgallery li .image {
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.board_newgallery li .image span {
  position: absolute;
  color: #fff;
  background: #154726;
  width: 76px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 25px;
  font-size: 14px;
}
.board_newgallery li:hover .image {
  border-radius: 10px 10px 0 0;
}
.board_newgallery li:hover .image a {
  transform: scale(1.1);
}
.board_newgallery li:hover dl.info {
  border-radius: 0 0 10px 10px;
}

.board_newgallery dl.info {
  padding: 25px;
  background: #f4e5be;
  border-radius: 0 0 20px 20px;
}
.board_newgallery dl.info dt.subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin-bottom: 8px;
  font-size: 18px;
  color: #000;
}
.board_newgallery dl.info dt.subject a {
  color: #154726;
  font-weight: 700;
}
.board_newgallery dl.info dd.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #154726;
  line-height: 1.6;
  font-weight: 300;
}



// 이미지
.board_newgallery .image a {
  // background: url('http://www.nenia.kr/data/file/31/3696084091_7oxqTRrD_bab98648ca0f50bf9525b06e6ab4a9ba19fb86cc.jpg') no-repeat center / cover;
  width: 100%;
  height: 227.5px;
  display: block;
}
