.store-list {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;

  .btn {
    background-color: #154726;

    & > a {
      color: #fff;
    }
  }
  /* 왼쪽 이미지 리스트 영역 */
  .left {
    position: relative;
    width: 50%;
    height: 100%;
    // border-radius: 0 0 0 50px;
    overflow: hidden;

    li {
      width: 100%;
      height: 100%;
      // 처음엔 이미지가 top:100%로 화면 밑으로 내려가 보이지 않다가 스크롤 됨에 따라 top:0으로 바뀌면서 화면에 보여짐
      &:not(:first-child) {
        // 부모는 .left
        position: absolute;
        top: 100%;
        z-index: 2;
      }
    }
  }

  /* 오른쪽 글자 리스트 영역 */
  .right {
    width: 50%;
    background: #d8e0a5;
    height: 100%;
    padding: 20rem 5rem;
    box-sizing: border-box;
    overflow: hidden;

    .only-m{
      display: none;
      width: 50rem;
      height:50rem;
      margin-bottom: 20px;
      

    }



    li {

      .font-5 {
        color: #149473;

      }

      .font-2 span {
        color: #154726;
      }

      &:first-child {
        margin-bottom: 25rem;
      }

      &:not(:first-child) {
        padding-bottom: 50%;
        & h2 {
          font-weight: 700;
        }
        & p {
          padding: 0 10px 30px 0;
          line-height: 1.5;
        }
      }
    }

    figure {
      display: none;
    }
  }
}


/********************************************** 미디어쿼리 CSS **********************************************/ 

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
  .store-list{ height: auto;}
  .store-list .left{display: none;}
  .store-list .right{width: 100%; text-align: center; margin: 0 auto;}
  .store-list .right .only-m{display: block;}
  .store-list .right li:not(:first-child){
    padding-bottom: 100px;
  }
  .store-list .right li:not(:first-child) p{max-width: 500px; margin: 0 auto;}
  .main5 .btn{margin: 0 auto;}
  .store-list .right .only-m{margin: 0 auto;}
  .store-list .right li:first-child{margin-bottom: 15rem;}
  .store-list .right li:not(:first-child) p{padding:0 0 30px 0;}
  .store-list .right{padding: 10rem 2rem;}
  .store-list .btn{margin: 0 auto;}
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {

}
/* 480이하 */
@media screen and (max-width: 480px) {
  .store-list .right .only-m{width: 100%; height: auto;}
}

// 작은 디바이스
/* 360이하 */
@media screen and (max-width: 360px) {
  
}
/* 280이하 */
@media screen and (max-width: 280px) {
}

