.way-wrap {
  // 섹션1
  .sec1 {
    text-align: center;
    height: 100vh;

    .font-2 {
      color: #fff;
      font-weight: bold;
    }

    .inbox {
      flex-direction: column;
      justify-content: center;
    }
  }

  // 가로 크기 변하는 이미지
  .width-chg {
    background: url("../../public/images/back_move/way_bak.jpg") no-repeat 50% 30% / cover;
  }

  // 섹션2
  .sec2 {
    background: #faf3e6;
    border-radius: 20px 20px 0 0;
    position: relative;
    margin-top: -20px;
    padding: 15rem 0;
    z-index: 1;

    img {
      // background: url("../../public/images/way/sec2.png") no-repeat center;
      width:80%;
      display: block;
      margin:50px auto 50px;
  
    }
    p {
      text-align: right;
    }
  } ////////////////////////섹션2 끝///////////////////////////

  // 섹션3
  .sec3 {
    padding: 135px 0;
    height: 100vh;
    background: #d8e0a5;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .wrap {
      display: flex;
    }

    /* 왼쪽이미지 영역 */
    .left {
      width: 50%;

      // 이미지
      .bak {
        width: 70%;
        height: 650px;
        background: url("../../public//images/way/bak.jpg") no-repeat 50% 0% / cover;
        background-position: 50% 0%;
      }
    }

   /* 오른쪽 텍스트 영역 */
    .right {
      width: 50%;

      h1 {
        padding-bottom: 15rem;
        color: #154726;
      }
      h2 {
        color: #154726;
        padding-bottom: 30px;
      }
      .con {
        padding-bottom: 15rem;
      }
  
      li {
        display: flex;padding-bottom: 10px;

        h3 {
          color: #149473;
          min-width: 100px;

          p {
            color: #154726;
          }
        }
      }
    }
   
  }

  
  // 섹션4(가로스크롤)- sright_scroll.scss

  // 섹션5

  .sec5 {
    padding: 100px 0 50px 0;
    /* 가로스크롤 방지 */
    overflow-x: hidden;
    cursor: default;

    .family {
      width: 100%;
      height: 100%;
      padding: 50px 0;

      /* 옆으로 움직이는 패밀리사이트 */
      .gbox {
        overflow: m-sitemap;
        /* background-color: red; */
      }
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        // width: 14vw;
        flex-shrink: 0;
        aspect-ratio: 576/267;
        padding: 2vw;
        box-sizing: border-box;
        justify-content: center;
      }

      li img {
        height: 100%;
        object-fit: cover;
      }
    }
  } //////////////////섹션5끝///////////////////

  // 섹션6
}





/********************************************** 미디어쿼리 CSS **********************************************/ 

// 큰 디바이스
/* 1200이하 */
@media screen and (max-width: 1200px) {
}

/* 1024이하 */
@media screen and (max-width: 1024px) {
}

// 중간 디바이스
/* 768이하 */
@media screen and (max-width: 768px) {
  .way-wrap .sec3 .wrap{display: block;}
  .way-wrap .sec3 .right h1{text-align: center; padding-bottom:5rem;}
  .way-wrap .sec3 .right{width:100%;}
  .way-wrap .sec3 .left{width:100%; display: none;}
  .way-wrap .sec3 .right .con{padding-bottom: 7rem;}
  .way-wrap .sec3 .right h2{text-align: center;}
  .way-wrap .sec3 .right h2{font-size:3rem;}

}
/* 480이하 */
@media screen and (max-width: 480px) {
  .way-wrap .sec2 p{text-align: center;}
  

}

// 작은 디바이스
/* 360이하 */
@media screen and (max-width: 360px) {
}
/* 280이하 */
@media screen and (max-width: 280px) {
}

