.wheat-wrap {
  // 섹션1
  .sec2 {
    background: #F4E5BE;
    padding: 100px 0;
  }
  .sec2 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 100px 0;
  }
  .sec2 p {
    text-align: right;
  }
  
}
